@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  position: relative;
  background-image: linear-gradient(skyBlue 70%, dodgerBlue);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cloud2 {
  position: absolute;
  bottom: 40%;
  left: -50%;
  z-index: 5;
  opacity: 0;
  transition: all 1s;
}

.cloud1 {
  position: absolute;
  bottom: 20%;
  right: -50%;
  z-index: 5;
  opacity: 0;
  transition: all 1s;
}

.cloudMove2 {
  left: 0;
  opacity: 1;
}

.cloudMove1 {
  right: 0;
  opacity: 1;
}

.sun {
  position: absolute;
  background-color: #f2ef88;
  height: 70vw;
  width: 70vw;
  box-shadow: 0 0 90px #f2ef88;
  border-radius: 50%;
  bottom: -160%;
  left: 15%;
  opacity: 0;
  z-index: 2;
  transition: all 1s ease;
}

.highNoonSun {
  bottom: 30%;
  opacity: 1;
}

.moon {
  position: absolute;
  background-color: #d6d6d6;
  height: 40vw;
  width: 40vw;
  box-shadow: inset -20px 5px 0 0px #899098, 0 0 30px whitesmoke;
  border-radius: 50%;
  top: -55%;
  left: -40%;
  opacity: 0;
  z-index: 2;
  transition: all 1s 0s ease-in-out;
}

.fullMoon {
  top: 5%;
  left: 1%;
  opacity: 1;
}

.moon div:nth-child(n) {
  position: relative;
  background-color: #b9b8b0;
  border-radius: 50%;
  box-shadow: inset -4px 5px 0 0px #535457;
}

.moon div:nth-child(1) {
  top: 25%;
  left: 12%;
  width: 27%;
  height: 27%;
}

.moon div:nth-child(2) {
  top: 25%;
  left: 44%;
  width: 16%;
  height: 16%;
}

.moon div:nth-child(3) {
  top: -30%;
  left: 60%;
  width: 16%;
  height: 16%;
}

.stars {
  box-shadow: 0 0 10px whitesmoke;
  opacity: 0;
  animation: wink 2s infinite alternate;
}

@keyframes wink {
  25% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.wrapper > div:nth-child(1) {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 0.4vw;
  height: 0.4vw;
  left: 80vw;
  top: 30%;
  transition: all 0.5s ease;
}

.wrapper > div:nth-child(2) {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 0.9vw;
  height: 0.9vw;
  left: 95vw;
  top: 70%;
  transition: all 0.5s ease;
}

.wrapper > div:nth-child(3) {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 1.2vw;
  height: 1.2vw;
  left: 70vw;
  top: 20%;
  transition: all 0.5s ease;
}

.wrapper > div:nth-child(4) {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  left: 80vw;
  top: 55%;
  transition: all 0.5s ease;
}

.wrapper > div:nth-child(5) {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
  left: 90vw;
  top: 35%;
  transition: all 0.5s ease;
}

.weather_container {
  position: relative;
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 5px;
  z-index: 10;
}

.lang_btn {
  background-color: #d3d3d345;
  position: absolute;
  top: 6px;
  right: 2%;
  font-size: 12px;
  padding: 0px 4.5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.lang_btn:hover {
  background-color: #d3d3d360;
}

.dark_mode_btn {
  background-color: #d3d3d345;
  position: absolute;
  top: 6px;
  left: 2%;
  font-size: 12px;
  padding: 0px 6px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.dark_mode_btn:hover {
  background-color: #d3d3d360;
}

.weather_search {
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.search_input {
  background: whitesmoke;
  width: 100%;
  padding: 15px 60px 15px 15px;
  border: none;
  outline: none;
  border-radius: 50px;
}

.search_input:hover {
    box-shadow: 0 0 10px grey;
    transition: 0.4s;
}

.search_btn {    
  position: absolute;
  top: 7%;
  right: 1%;
  width: 40px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 50%;
  border: none;
  transition: all 0.5s;
}

.search_btn:hover {
  background: lightgreen;
  cursor: pointer;
  text-align: center;
}

.weather_body {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}

.weather_body > div {
  margin-top: 10px;
}

h1 {
  margin-top: 30px;
}

.more_info_btn_wrapper {
  margin-top: 30px;
  font-size: 15px;
  border-bottom: 1px solid #8e8d8d;
}

.more_info_btn {
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}

.more_info {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.active {
  display: flex;
}

.more_info_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  flex: 1;
  padding: 0 20px;
  margin-top: 10px;
}

.more_info_item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark_bg {
  background-color: rgba(0, 0, 0, 0.4);
}

.dark_txt {
  color: white;
}



@media (max-width: 600px) {
  .wrapper {
    height: 400px;
    overflow-y: scroll;
  }

  .weather_container {
    width: 80%;
  }

  .weather_body {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}